<header role="banner">
    <div class="dima-navbar-wrap desk-nav dima-navbar-fixed-top-active dima-topbar-active">
        <div class="dima-navbar fix-two" data-offsetBy=".tp-banner-container">
            <div class="clearfix dima-nav-fixed"></div>
            <div class="container">
                <!-- LOGO -->
                <div class="logo">
                    <a data-animated-link="fadeOut" href="#" title="Ministerio de Industria y Comercio">
                        <span class="vertical-middle"></span>
                        <img src="/Content/images/logo-mic.png" style="width:250px !important;" alt="Ministerio de Industria y Comercio" width="166" />
                    </a>
                </div>
                <!--! END LOGO -->
                <!-- NAVBAR BUTTON -->
                <a class="dima-btn-nav" href="#"><i class="fa fa-bars"></i></a>
                <!--! END NAVBAR BUTTON -->
                <nav role="navigation">
                    <!-- SEARCH BOX -->
                    <div id="search">
                        <div align="right" class="escudo"></div>
                        <div class="search-form">
                            <form action="" name="search" id="search-form" method="get">
                                <input type="submit" name="btnSearch" value="" id="btnSearch" class="inpBtn" />
                                <input name="txtSearch" type="text" placeholder="Buscar..." id="txtSearch" class="inpText" />
                            </form>
                        </div>
                        <div class="topenlaces"><a href="#">Inicio</a> <span class="separator">|</span> <a href="#">Mapa del Sitio</a> <span class="separator">|</span> <a href="#">Contacto</a></div>
                    </div>
                    <!-- END SEARCH BOX -->
                    <!-- MENU START -->
                    <ul class="dima-nav ">
                        <li class="sub-icon menu-item-has-children menu-full-width"><a data-animated-link="fadeOut" href="#">Inicio</a></li>
                        <li class="sub-icon menu-item-has-children">
                            <a data-animated-link="fadeOut" href="#">Sobre Nosotros</a>
                            <ul class="sub-menu nav-menu ">
                                <li><a data-animated-link="fadeOut" href="#">Qui&eacute;nes Somos</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Historia</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Organigrama</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Dependencias</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Despacho del Ministro</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Marco Legal</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Memorias</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Plan Estrategico</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Perfil de Funcionarios</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Correspondencia, Archivo y Biblioteca</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Comisi&oacute;n de &Eacute;tica P&uacute;blica</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Oficinas Provinciales</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Directorio de Contactos</a></li>
                            </ul>
                        </li>
                        <li class="sub-icon menu-full-width"><a data-animated-link="fadeOut" href="#" target="_blank">Transparencia</a></li>
                        <li class="sub-icon menu-item-has-children">
                            <a data-animated-link="fadeOut" href="#">Viceministerios</a>
                            <ul class="sub-menu nav-menu ">
                                <li><a data-animated-link="fadeOut" href="#">Comercio Exterior</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Comercio Interno</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Desarrollo Industrial</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Fomento a las Pymes</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Zonas Francas y Reg&iacute;menes Especiales</a></li>
                            </ul>
                        </li>
                        <li class="sub-icon menu-item-has-children">
                            <a data-animated-link="fadeOut" href="#">Direcciones</a>
                            <ul class="sub-menu nav-menu ">
                                <li><a data-animated-link="fadeOut" href="#">Hidrocarburos</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Comunicaciones</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Comercio Exterior</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Comercio Interno</a></li>
                                <li><a data-animated-link="fadeOut" href="#">An&aacute;lisis Econ&oacute;mico</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Combustibles no Convencionales</a></li>
                            </ul>
                        </li>
                        <li class="sub-icon menu-item-has-children">
                            <a data-animated-link="fadeOut" href="#">Servicios</a>
                            <ul class="sub-menu nav-menu ">
                                <li><a data-animated-link="fadeOut" href="#">Consultas en L&iacute;nea</a></li>
                            </ul>
                        </li>
                        <li class="sub-icon menu-item-has-children"> <a data-animated-link="fadeOut" href="#">Proyectos</a></li>
                    </ul>
                    <!--! END MENU START -->
                </nav>
            </div>
        </div>
        <div class="clear-nav"></div>
    </div>
    <!-- PHONE MENU -->
    <div class="dima-navbar-wrap mobile-nav">
        <div class="dima-navbar fix-one">
            <!-- START HEADER -->
            <div class="clearfix dima-nav-fixed"></div>
            <div class="container">
                <!-- Nav bar button -->
                <a class="dima-btn-nav" href="#"><i class="fa fa-bars"></i></a>
                <!-- LOGO -->
                <div class="logo">
                    <h1><a data-animated-link="fadeOut" href="/" title="MIC"><span class="vertical-middle"></span><img src="/Content/images/logo-mic.png" alt="MIC" /></a></h1>
                </div>
                <!-- MENU -->
                <nav role="navigation" class="clearfix">
                    <ul class="dima-nav-end">
                        <li class="search-btn"><a data-animated-link="fadeOut" href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                    <ul class="dima-nav ">
                        <div id="search-box">
                            <div class="container">
                                <form action="" name="search" id="search-form" method="get">
                                    <input name="txtSearch" type="text" placeholder="Buscar..." id="txtSearch" class="inpText" style="width: 80%;" />
                                    <input type="submit" name="btnSearch" value="Buscar" id="btnSearch" class="inpBtn" style="width: 15%; margin: 0 0 0 3%;" />
                                </form>
                                <div id="close"> <a data-animated-link="fadeOut" href="#"> <i class="di-close"></i> </a> </div>
                            </div>
                        </div>
                        <li class="dima-mega-menu col-4 menu-full-width"><a data-animated-link="fadeOut" href="#">Inicio</a></li>
                        <li class="dima-mega-menu col-4 sub-icon menu-item-has-children">
                            <a data-animated-link="fadeOut" href="#">Sobre Nosotros</a>
                            <ul class="sub-menu nav-menu ">
                                <li><a data-animated-link="fadeOut" href="#">Qui&eacute;nes Somos</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Historia</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Organigrama</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Dependencias</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Despacho del Ministro</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Marco Legal</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Memorias</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Plan Estrategico</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Perfil de Funcionarios</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Correspondencia, Archivo y Biblioteca</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Comisi&oacute;n de &Eacute;tica P&uacute;blica</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Oficinas Provinciales</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Directorio de Contactos</a></li>
                            </ul>
                        </li>
                        <li class="dima-mega-menu col-4 menu-full-width"><a data-animated-link="fadeOut" href="#">Transparencia</a></li>
                        <li class="dima-mega-menu col-4 sub-icon menu-item-has-children">
                            <a data-animated-link="fadeOut" href="#">Viceministerios</a>
                            <ul class="sub-menu nav-menu ">
                                <li><a data-animated-link="fadeOut" href="#">Comercio Exterior</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Comercio Interno</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Desarrollo Industrial</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Fomento a las Pymes</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Zonas Francas y Reg&iacute;menes Especiales</a></li>
                            </ul>
                        </li>
                        <li class="dima-mega-menu col-4 sub-icon menu-item-has-children">
                            <a data-animated-link="fadeOut" href="#">Direcciones</a>
                            <ul class="sub-menu nav-menu ">
                                <li><a data-animated-link="fadeOut" href="#">Hidrocarburos</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Comunicaciones</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Comercio Exterior</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Comercio Interno</a></li>
                                <li><a data-animated-link="fadeOut" href="#">An&aacute;lisis Econ&oacute;mico</a></li>
                                <li><a data-animated-link="fadeOut" href="#">Combustibles no Convencionales</a></li>
                            </ul>
                        </li>
                        <li class="dima-mega-menu col-4 sub-icon menu-item-has-children menu-full-width">
                            <a data-animated-link="fadeOut" href="#">Servicios</a>
                            <ul class="sub-menu nav-menu ">
                                <li><a data-animated-link="fadeOut" href="#">Consultas en L&iacute;nea</a></li>
                            </ul>
                        </li>
                        <li class="dima-mega-menu col-4 menu-full-width"><a data-animated-link="fadeOut" href="#">Proyectos</a></li>
                    </ul>
                    </li>
                </nav>
                <!--! END MENU -->
            </div>
        </div>
    </div>
    <!--! END PHONE MENU -->
</header>