<section class="related-posts box clearfix">
    <h5 class="related-posts-title ">Noticias Relacionadas</h5>
    <!-- POST (1) -->
    <article role="article" class="related-entry ok-md-3 ok-xsd-12 ok-sd-6">
        <div class="related-entry-media">
            <a data-animated-link="fadeOut" href="blog-full-Single-post-2.html" title="">
                <div class="related-entry-thumbnail overlay"> <img src="images/posts/related-1.jpg" alt="Super Cool Photography Tricks" width="650" height="450"> </div>
            </a>
        </div>
        <div class="related-entry-content">
            <div class="related-entry-title">
                <a data-animated-link="fadeOut" href="blog-full-Single-post-2.html" title="">
                    <h6>psychology in branding</h6>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur...</p>
            </div>
        </div>
    </article>
    <!--! POST (1) -->
    <!-- POST (2) -->
    <article role="article" class="related-entry ok-md-3 ok-xsd-12 ok-sd-6 ">
        <div class="related-entry-media">
            <a data-animated-link="fadeOut" href="blog-full-Single-post-2.html" title="">
                <div class="related-entry-thumbnail overlay"> <img src="images/posts/related-2.jpg" alt="Super Cool Photography Tricks" width="650" height="450"> </div>
            </a>
        </div>
        <div class="related-entry-content">
            <div class="related-entry-title">
                <a data-animated-link="fadeOut" href="blog-full-Single-post-2.html" title="">
                    <h6>Process of Prototyping</h6>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur...</p>
            </div>
        </div>
    </article>
    <!--! POST (2) -->
    <!-- POST (3) -->
    <article role="article" class="related-entry ok-md-3 ok-xsd-12 ok-sd-6 ">
        <div class="related-entry-media">
            <a data-animated-link="fadeOut" href="blog-full-Single-post-2.html" title="">
                <div class="related-entry-thumbnail overlay"> <img src="images/posts/related-3.jpg" alt="Super Cool Photography Tricks" width="650" height="450"> </div>
            </a>
        </div>
        <div class="related-entry-content">
            <div class="related-entry-title">
                <a data-animated-link="fadeOut" href="blog-full-Single-post-2.html" title="">
                    <h6>Responsive web design</h6>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur...</p>
            </div>
        </div>
    </article>
    <!--! POST (3) -->
    <!-- POST (4) -->
    <article role="article" class="related-entry ok-md-3 ok-xsd-12 ok-sd-6 ">
        <div class="related-entry-media">
            <a data-animated-link="fadeOut" href="blog-full-Single-post-2.html" title="">
                <div class="related-entry-thumbnail overlay"> <img src="images/posts/related-2.jpg" alt="Super Cool Photography Tricks" width="650" height="450"> </div>
            </a>
        </div>
        <div class="related-entry-content">
            <div class="related-entry-title">
                <a data-animated-link="fadeOut" href="blog-full-Single-post-2.html" title="">
                    <h6>Responsive web design</h6>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur...</p>
            </div>
        </div>
    </article>
    <!--! POST (4) -->
    <!-- POST (5) -->
    <article role="article" class="related-entry ok-md-3 ok-xsd-12 ok-sd-6 ">
        <div class="related-entry-media">
            <a data-animated-link="fadeOut" href="blog-full-Single-post-2.html" title="">
                <div class="related-entry-thumbnail overlay"> <img src="images/posts/related-2.jpg" alt="Super Cool Photography Tricks" width="650" height="450"> </div>
            </a>
        </div>
        <div class="related-entry-content">
            <div class="related-entry-title">
                <a data-animated-link="fadeOut" href="blog-full-Single-post-2.html" title="">
                    <h6>Responsive web design</h6>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur...</p>
            </div>
        </div>
    </article>
    <!--! POST (5) -->
</section>